numpy
pandas
nba_api
plotly
scipy
streamlit-autorefresh
Pillow
matplotlib
retry
opencv-python
scikit-learn
ultralytics
tqdm
jsonlines
scipy
moviepy
tensorflow[and-cuda]
stqdm
streamlit-elements-0.1.0
streamlit-javascript
pytz